# Ignore everything
*
# But not these files...
!/.gitignore

!*.go
!*.yaml
!go.sum
!go.mod
!Makefile
!demo.mk
!Dockerfile

!README.md
!PROJECT
!LICENSE
!.licignore
!.golic.yaml
!.golangci.yaml
!.dockerignore
!boilerplate.go.txt
!.gitkeep
!NOTES.md

!/terratest/deploy/chart/k8gb/**

# ...even if they are in subdirectories
!*/
#
#.DEMO
